* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

main {
    padding: 20px;
}

.head {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.head nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.head nav a:hover {
    text-decoration: underline;
}

.profile {
    text-align: center;
    margin: 20px 0;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile h1 {
    margin: 10px 0;
    font-size: 2em;
}

.profile h2 {
    color: #777;
}

.overview {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overview h2 {
    margin-bottom: 10px;
}

.skills-experience {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skills, .experience {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.skills h2, .experience h2 {
    margin-bottom: 10px;
}

.skills ul, .experience ul {
    list-style-type: none;
}

.skills li, .experience li {
    margin-bottom: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
}

/*properti about-me*/
.about-me {
    padding: 20px;
}

.about-me h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #555;
}

.about-me p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #777;
}

/*properti contact*/
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #555;
}
